@font-face {
    font-family: jost;
    src: url('./files/Jost-Light.ttf');
}

.background {
    background-attachment: fixed;
    background-image: url('./files/background.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    /*background-color: #272727;*/
}

.paper {
    padding-bottom: 7vh;
    padding-top: 7vh;
    padding-left: 3vw;
    padding-right: 6vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 82vmin;
    height: 60vh;
}

.paper_image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 70vh;
}

.wawa {
    position: absolute;
    bottom: 10vh;
    right: 4vw;
    z-index: 2;
    width: auto;
    height: 20vmin;
}

.lang {
    position: absolute;
    font-style: italic;
    font-size: 3vmin;
    top: 7vh;
    right: 6vw;
    z-index: 3;
    width: 12vmin;
    height: 6vmin;
    border-radius: 5% 50% 5% 50%;
    color: #000000;
    background: #bbbbbb;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    color: #000000;
    background: #bbbbbb;
}

p {
    z-index: 2;
    position: relative;
    font-size: 3.5vmin;
    font-family: 'jost';
    white-space: pre-line;
    margin: 0px;
    line-height: 5.5vh;
}

a {
    z-index: 2;
    position: relative;
    font-size: 4vmin;
    font-family: 'jost';
    text-decoration: underline;
    margin: 0px;
    line-height: 5.5vh;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
    color: #333333;

}

a img {
    width: auto;
    height: 2.5vh;
}

#deepsea {
    color: #020077;
    text-shadow: 0 0 0.5em blue;
    text-decoration: none;
    background-color: #000;
    padding: 0.1rem;
    outline: solid;
    top: 2vh;
}
