.background {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    z-index: -9999;
    background: #272727;
}

.style_line.top {
    top: 0;
}

.style_line.bottom{
    bottom: 0;
}

.style_line.left {
    left: 0;
}

.style_line.right{
    right: 0;
}

.style_line.left,
.style_line.right{
    top: 0;
    height: 100%;
    width: 20px;
}

.style_line.bottom,
.style_line.top{
    left: 0;
    width: 100%;
    height: 20px;
}

.style_line {
    content: " ";
    display: block;
    position: fixed;
    background: #fefefe;
    z-index: 1000;
}


footer {
  padding-top: 50px
}